<div class="frame">
    <div class="slider">
        <!-- create a slider -->
        <ng-container *ngIf="this.windowWidth < 600">
            <!-- Mobile -->
            <ng-container *ngFor="let source of mobileSources">
                <img [src]="source" alt="Service" *ngIf="currentSource == source">
            </ng-container>
        </ng-container>
        <ng-container *ngIf="this.windowWidth > 600">
            <ng-container *ngFor="let source of sources">
                <img [src]="source" alt="Service" *ngIf="currentSource == source">
            </ng-container>
        </ng-container>
    </div>
    <div class="actions">
        <button mat-icon-button (click)="nextSource()"><mat-icon>arrow_back</mat-icon></button>
        <button mat-icon-button (click)="prevSource()"><mat-icon>arrow_forward</mat-icon></button>
    </div>
</div>