<section>
    <div class="header">
      <h1>BOOK SEVA</h1>
      <button mat-icon-button (click)="close.emit()"><mat-icon>close</mat-icon></button>
    </div>
    <main>
      <div class="decoration">
          <img src="assets/Union.png" alt="">
          <div class="seva">
              <img src="assets/candlestick.svg" alt="Candle stick" />
              <h2>You Are Booking {{ seva.name | titlecase}}</h2>
          </div>
          <img src="assets/Union(1).png" alt="">
      </div>
      <form [formGroup]="bookSevaForm" (ngSubmit)="submit()">
        <mat-form-field appearance="outline">
          <mat-label>Your Name</mat-label>
          <input formControlName="sevakName" type="text" matInput />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input type="number" matInput formControlName="sevakPhone" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Why do you want to join Gitamritam?</mat-label>
          <textarea type="text" matInput formControlName="reason" ></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Address</mat-label>
          <textarea type="text" matInput formControlName="address" ></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>City</mat-label>
          <input type="text" matInput formControlName="city" >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Occupation</mat-label>
          <input type="text" matInput formControlName="city" >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Date Of Birth</mat-label>
          <input matInput formControlName="dateOfBirth" [matDatepicker]="picker" />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <!-- <mat-slide-toggle formControlName="gift" #gifted color="primary">For Somone Else</mat-slide-toggle>
        <mat-form-field appearance="outline" *ngIf="gifted.checked">
          <mat-label>Gifted Sevak Name</mat-label>
          <input formControlName="giftedPerson" type="text" matInput />
        </mat-form-field> -->
        <hr>
        <!-- <mat-slide-toggle formControlName="monthlySeva" color="primary">Monthly Seva</mat-slide-toggle> -->
        <p>Payment Mode</p>
        <mat-radio-group formControlName="mode" color="primary" aria-label="Select an option">
          <mat-radio-button value="online">New Member Rs. 100/- Only</mat-radio-button>
          <mat-radio-button #offline value="offline">*Free - if you are already a member of ISKCON (Madhav Seva, Nitya Seva, Life Member, Congregation Programs).</mat-radio-button>
        </mat-radio-group>
        <p>Please select who are you connected to? After submitting, please call them for approving your registration.</p>
        <br>
        <mat-form-field appearance="outline" *ngIf="offline.checked">
          <mat-label>Choose Recipent</mat-label>
          <mat-select formControlName="recipent">
            <mat-option *ngFor="let recipent of recipents" [value]="recipent">
              {{recipent.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="row">
          <button mat-stroked-button color="primary" (click)="close.emit()">Cancel</button>
          <button mat-flat-button color="primary" type="submit">Book</button>
        </div>
      </form>
    </main>
  </section>
  