<section>
    <div>
        <img src="assets/about.png" alt="About">
        <main>
            <h1>What is madhavseva ?</h1>
            <p>Madhav Seva is an effort to provide an
                opportunity to devotees to offer  heir loving
                service to Shri Shri Radha Venimadhav and
                thus establish a connection with their
                Lordships. Everyday Their Lordships are
                offered many services aratis, bhogas and
                Shringaars as per the age old traditions of
                Gaudiya Vaishnavism. Through Madhav
                Seva, we're sharing this opportunity with
                one and all.</p>
        </main>
    </div>
</section>